body, div, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* color set */

main {
  max-width: 640px;
  margin: 0 auto;

  --lightBg : rgb(248, 248, 240);
  --lightFont : black;
  --lightBorder : rgb(108, 108, 108);
  --darkBg: rgb(51, 51, 51);
  --darkFont: white;
  --darkBorder: white
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: var(--lightBg);
}

.header__button-mode {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.header__button-mode svg {
  width: 100%;
  height: auto;
}

.header__button-mode-dark {
  color: #fff
}

.filterList {
  display: inline-flex;
  gap: 0 5px;
}

.filterItem {
  padding: 5px 0;
}

.filterItem--on {
  border-bottom: 2px solid var(--lightBorder);
}

.filterItem__button {
  border: 0;
  background-color: transparent;
  font-size: 18px;
  color: var(--lightFont)
}

.todoList {
  min-height: 500px;
  padding: 0 10px;
}

.todoInput {
  display: flex;
  gap: 0 10px;
  width: 100%;
  height: 70px;
  padding: 20px 10px;
  background-color: var(--lightBg);
  box-sizing: border-box;
}

.todoInput__input {
  flex: 1;
  height: 100%;
  border: 0;
  border-bottom: 2px solid var(--lightBorder);
  box-sizing: border-box;
}

.todoInput__button {
  flex-shrink: 0;
  height: 100%;
  padding: 0 20px;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todoItem + .todoItem {
  margin-top: 10px;
}

.todoItem__box {
  flex: 1;
}

.todoItem__button-delete {
  flex-shrink: 0;
  padding: 0 20px;
}

/* darkmode */
.main.darkMode .header,
.main.darkMode .todoInput {
  background-color: var(--darkBg);
}

.main.darkMode .filterItem--on,
.main.darkMode .todoInput__input {
  border-bottom-color: var(--darkBorder);
}

.main.darkMode .filterItem__button {
  color: var(--darkFont)
}
